<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharecloud.sharefiles.sharedata.anyshare.musictransfer.filetransfer">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Hazel"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/Theme.Hazel.Base.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:label="@string/text_history"
            android:parentActivityName=".ui.activity.SideMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.White" />
        <activity android:name=".ui.activity.DialogSheetActivity" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.ReceiverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar"> <!-- MAIN ACTIVITY HERE -->
        </activity> <!-- MAIN ACTIVITY ENDS HERE -->
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.SideMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.White" />
        <activity
            android:name=".ui.activity.SideMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.Base.NoActionBar" />
        <activity
            android:name=".ui.activity.ContentSharingActivity"
            android:label="@string/title_activity_content_sharing"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar" />
        <activity
            android:name=".ui.activity.PreparationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.White">
            <intent-filter>

                <!-- <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_TEXT" /> -->
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="faizi.intent.action.HAZEL_SEND" />
                <action android:name="faizi.intent.action.HAZEL_SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar" />
        <activity
            android:name=".ui.activity.ViewTransferActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.PreparationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <!-- expected file name pattern .5435-4543-4354-ewrw.tshare -->
                <data android:pathPattern=".*\\.tshare" />
                <data android:pathPattern=".*\\..*\\.tshare" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FilePickerActivity"
            android:label="@string/text_fileExplorer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar" /> <!-- SERVICES WILL BE HERE -->
        <service
            android:name=".service.CommunicationService"
            android:enabled="true"
            android:label="@string/text_communicationService"
            android:process=":transfer" />
        <service
            android:name=".service.WorkerService"
            android:label="@string/text_workerService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>