<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hazelmobile.filetransfer">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hazel"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Hazel.Base.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.SideMenu"
            android:theme="@style/Theme.Hazel.White" />
        <activity
            android:name=".ui.activity.SideMenu"
            android:theme="@style/Theme.Hazel.Base.NoActionBar" />
        <activity
            android:name=".ui.activity.ContentSharingActivity"
            android:label="@string/title_activity_content_sharing"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/Theme.Hazel.NoActionBar.StaticStatusBar" />
    </application>

</manifest>